!!!
html
    head
        title= title
        script(src='/js/lib/jquery-1.7.2.min.js')
        script(src='/js/lib/underscore-min.js')
        script(src='/js/lib/backbone-min.js')
        != coffee("both")
    body!= body